* {
  box-sizing: border-box;
}

.body_black {
  text-align: center;
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  position: relative;
}

.body_white {
  text-align: center;
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}

.body_white_buy {
  text-align: center;
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
}

.hue-rotate {
  height: 236px;
}

.carousel_black {
  background-color: black;
  margin-top: 128px;
  max-height: 100vh;
  max-width: 100vw;
}

.carousel_white {
  background-color: white;
  margin-top: 128px;
  max-height: 100vh;
  max-width: 100vw;
}

.carousel_white_buy {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 670px;
  transform: scale(0.6);
  margin-top: 80px;
  transform-origin: top center;
}

.sizes_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.size_button {
  background-color: white;
  border: 2px solid black;
  width: 100%;
  padding: 10px;
  margin: 5px;
  text-align: center;
  font-weight: normal;
  font-size: 24px;
}

.buy_button {
  background-color: black;
  width: 100%;
  padding: 10px;
  margin: 10px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 30px;
}

/* ==================================================================================================== */
/* ========================================= NAVIGATION START ========================================= */
/* ==================================================================================================== */

button {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0,0%,0%);
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  height: 38px;
  color: hsl(0,0%,100%);
  font-size: 18px;
  font-weight: 600;
  font-family: 'Helvetica Now', 'Open Sans', 'Helvetica Neue', sans-serif;
}

button:hover {
  color: hsl(0, 100%, 100%);
  border-bottom: solid, 4px, red;
  box-shadow: 0 4px 0 0 red;
}

button:active {
  background-color: hsl(0, 100%, 50%);
  color: hsl(0, 0%, 100%);
}

.navigation-wrapper {
  padding-bottom: 0px;
}

.navigation_position {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  background-color: hsl(0,0%,0%);
}

.nav_links {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  font-weight: 600;
}

.nav_links_li {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0,0%,0%);
  height: 38px;
}

/* ==================================================================================================== */
/* ========================================== NAVIGATION END ========================================== */
/* ==================================================================================================== */

/* FRAME around the image = START */

.carousel-container {
  position: relative;
  margin-bottom: 80px;
}

.frame-overlay-dark-grey {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 670px;
  height: 740px;
  border: 3px solid hsl(0, 0%, 20%);
  pointer-events: none;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.frame-overlay-dark-grey-buy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 670px;
  height: 740px;
  border: 3px solid hsl(0, 0%, 20%);
  z-index: 5;
}

.frame-overlay-light-grey {
  position: absolute;
  top: 50%; 
  left: 50%;
  width: 670px;
  height: 740px;
  border: 3px solid hsl(0, 0%, 80%);
  pointer-events: none;
  z-index: 1;
  transform: translate(-50%, -50%);
}

/* FRAME around the image = END */

/* SINGLE IMAGE display = START */

.single_image_display_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  z-index: 0;
}

.single_image_display {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.single_image_display img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* SINGLE IMAGE display = END */

/* overlap boxes START */

.overlap-container {
  display: flex;
  position: absolute;
  align-items: stretch;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  pointer-events: none; 
}

.box-white-left {
  flex: 1;
  background-color: hsla(0,0%,100%,1);
  height: 100%;
  pointer-events: none;
}

.box-black-left {
  flex: 1;
  background-color: hsla(0,0%,0%,1);
  height: 100%;
  pointer-events: none;
}

.box-transparent-middle {
  background-color: hsla(0,0%,0%,0);
  width: 670px;
  height: 100%;
  margin: 0 auto;
}

.box-white-right {
  flex: 1;
  background-color: hsla(0,0%,100%,1);
  height: 100%;
  pointer-events: none;
}

.box-black-right {
  flex: 1;
  background-color: hsla(0,0%,0%,1);
  height: 100%;
  pointer-events: none;
}

/* overlap boxes END */


h1 {
  margin-top: 280px;
  margin-bottom: 40px;
}

a {
  text-decoration: none;
}

li {
  text-decoration: none;
}


/*==========================================================================================================================*/
/*==========================================================================================================================*/
/*------------------------------------------------- MEDIA QUERIES start ----------------------------------------------------*/
/*==========================================================================================================================*/
/*==========================================================================================================================*/
/* check in apple*/

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 280px) 
  and (max-device-width: 319px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .CarouselSize {
      height: 112px;
      width: 260px;
    }
    .hue-rotate {
      height: 112px;
      width: 260px;
    }
    button {
      padding-left: 5px;
      padding-right: 5px;
      font-size: 15px;
      font-weight: 500;
    }
    button:hover {
      color: hsl(0, 100%, 100%);
      border-bottom: solid, 4px, hsla(0,0%,0%,0);
      box-shadow: 0 4px 0 0 hsla(0,0%,0%,0);
    }
    .navigation-wrapper {
      padding-bottom: 0px;
    }
    .nav_links {
      width: 100%;
      font-size: 15px;
      font-weight: 500;
    }
    .carousel_white {
      margin-top: 76px;
    }
    .carousel_white_buy {
      width: 340px;
      margin-top: 50px;
    }
    .carousel_black {
      margin-top: 76px;
    }
    .frame-overlay-dark-grey {
      display: none;
    }
    .frame-overlay-light-grey {
      display: none;
    }
    .frame-overlay-dark-grey-buy {
      border: 3px solid hsl(0, 0%, 20%);
      width: 340px;
      height: 370px;
    }
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .CarouselSize {
      height: 120px;
      width: 278px;
    }
    .hue-rotate {
      height: 120px;
      width: 278px;
    }
    button {
      padding-left: 5px;
      padding-right: 5px;
      font-size: 15px;
      font-weight: 500;
    }
    button:hover {
      color: hsl(0, 100%, 100%);
      border-bottom: solid, 4px, hsla(0,0%,0%,0);
      box-shadow: 0 4px 0 0 hsla(0,0%,0%,0);
    }
    .navigation-wrapper {
      padding-bottom: 0px;
    }
    .nav_links {
      width: 100%;
      font-size: 15px;
      font-weight: 500;
    }
    .carousel_white {
      margin-top: 76px;
    }
    .carousel_white_buy {
      width: 340px;
      margin-top: 50px;
    }
    .carousel_black {
      margin-top: 76px;
    }
    .frame-overlay-dark-grey {
      display: none;
    }
    .frame-overlay-light-grey {
      display: none;
    }
    .frame-overlay-dark-grey-buy {
      border: 3px solid hsl(0, 0%, 20%);
      width: 340px;
      height: 370px;
    }
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .CarouselSize {
      height: 120px;
      width: 278px;
    }
    .hue-rotate {
      height: 120px;
      width: 278px;
    }
    button {
      padding-left: 5px;
      padding-right: 5px;
      font-size: 15px;
      font-weight: 500;
    }
    button:hover {
      color: hsl(0, 100%, 100%);
      border-bottom: solid, 4px, hsla(0,0%,0%,0);
      box-shadow: 0 4px 0 0 hsla(0,0%,0%,0);
    }
    .navigation-wrapper {
      padding-bottom: 0px;
    }
    .nav_links {
      width: 100%;
      font-size: 15px;
      font-weight: 500;
    }
    .carousel_white {
      margin-top: 76px;
    }
    .carousel_white_buy {
      width: 340px;
      margin-top: 50px;
    }
    .carousel_black {
      margin-top: 76px;
    }
    .frame-overlay-dark-grey {
      display: none;
    }
    .frame-overlay-light-grey {
      display: none;
    }
    .frame-overlay-dark-grey-buy {
      border: 3px solid hsl(0, 0%, 20%);
      width: 340px;
      height: 370px;
    }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .CarouselSize {
      height: 124px;
      width: 288px;
    }
    .hue-rotate {
      height: 124px;
      width: 288px;
    }
    button {
      padding-left: 5px;
      padding-right: 5px;
      font-size: 15px;
      font-weight: 500;
    }
    button:hover {
      color: hsl(0, 100%, 100%);
      border-bottom: solid, 4px, hsla(0,0%,0%,0);
      box-shadow: 0 4px 0 0 hsla(0,0%,0%,0);
    }
    .navigation-wrapper {
      padding-bottom: 0px;
    }
    .nav_links {
      width: 100%;
      font-size: 15px;
      font-weight: 500;
    }
    .carousel_white {
      margin-top: 76px;
    }
    .carousel_white_buy {
      width: 348px;
      margin-top: 50px;
    }
    .carousel_black {
      margin-top: 76px;
    }
    .frame-overlay-dark-grey {
      display: none;
    }
    .frame-overlay-light-grey {
      display: none;
    }
    .frame-overlay-dark-grey-buy {
      border: 3px solid hsl(0, 0%, 20%);
      width: 348px;
      height: 380px;
    }
}

/* ----------- iPhone 6, 6S, 7, 8 and SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {

    .CarouselSize {
      height: 154px;
      width: 358px;
    }
    .hue-rotate {
      height: 154px;
      width: 358px;
    }
    button {
      padding-left: 5px;
      padding-right: 5px;
      font-size: 15px;
      font-weight: 500;
    }
    button:hover {
      color: hsl(0, 100%, 100%);
      border-bottom: solid, 4px, hsla(0,0%,0%,0);
      box-shadow: 0 4px 0 0 hsla(0,0%,0%,0);
    }
    .navigation-wrapper {
      padding-bottom: 0px;
    }
    .nav_links {
      width: 100%;
      font-size: 15px;
      font-weight: 500;
    }
    .carousel_white {
      margin-top: 76px;
    }
    .carousel_white_buy {
      width: 412px;
      margin-top: 50px;
    }
    .carousel_black {
      margin-top: 76px;
    }
    .frame-overlay-dark-grey {
      display: none;
    }
    .frame-overlay-light-grey {
      display: none;
    }
    .frame-overlay-dark-grey-buy {
      border: 3px solid hsl(0, 0%, 20%);
      width: 412px;
      height: 450px;
    }

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .CarouselSize {
      height: 166px;
      width: 386px;
    }
    .hue-rotate {
      height: 166px;
      width: 386px;
    }
    .carousel_white {
      margin-top: 76px;
    }
    .carousel_white_buy {
      width: 440px;
      margin-top: 50px;
    }
    .carousel_black {
      margin-top: 76px;
    }
    .frame-overlay-dark-grey {
      display: none;
    }
    .frame-overlay-light-grey {
      display: none;
    }
    .frame-overlay-dark-grey-buy {
      border: 3px solid hsl(0, 0%, 20%);
      width: 440px;
      height: 480px;
    }
}

/* ----------- iPhone 12, iPhone 12 Pro, iPhone 13, iPhone 13 Pro, and iPhone 14 ----------- */
@media only screen 
    and (width: 390px) 
    and (height: 844px) 
    and (-webkit-device-pixel-ratio: 3) {
    /* .CarouselSize {
      height: 166px;
      width: 386px;
    }
    .hue-rotate {
      height: 166px;
      width: 386px;
    } */
    .carousel_white {
      margin-top: 76px;
    }
    .carousel_white_buy {
      width: 440px;
      margin-top: 50px;
    }
    .carousel_black {
      margin-top: 76px;
    }
    .frame-overlay-dark-grey {
      display: none;
    }
    .frame-overlay-light-grey {
      display: none;
    }
    .frame-overlay-dark-grey-buy {
      width: 724px;
      height: 800px;
    }
    .single_image_display_container {
      width: 670px;
      height: 740px;
    }
}

/* -----------  iPhone 14 Pro Max, iPhone 15 Plus and iPhone 15 Pro Max ----------- */
@media only screen 
    and (width: 430px) 
    and (height: 932px) 
    and (-webkit-device-pixel-ratio: 3) { }

/* -----------  iPhone 12 Pro Max, iPhone 13 Pro Max, and iPhone 14 Plus ----------- */
@media only screen 
    and (width: 428px) 
    and (height: 926px) 
    and (-webkit-device-pixel-ratio: 3) { }

/* ----------- iPhone X, iPhone Xs, iPhone 11 Pro, iPhone 12 Mini, and iPhone 13 Mini ----------- */
@media only screen 
    and (width: 375px) 
    and (height: 812px) 
    and (-webkit-device-pixel-ratio: 3) { }

/* ----------- iPhone XR, and iPhone 11 ----------- */
@media only screen 
    and (width: 414px) 
    and (height: 896px) 
    and (-webkit-device-pixel-ratio: 2) { }

/* ----------- iPhone Xs Max, and iPhone 11 Pro Max ----------- */
@media only screen 
    and (width: 414px) 
    and (height: 896px) 
    and (-webkit-device-pixel-ratio: 3) { }

/* ----------- iPhone 14 Pro, iPhone 15 and iPhone 15 Pro ----------- */
@media only screen 
    and (width: 393px) 
    and (height: 852px) 
    and (-webkit-device-pixel-ratio: 3) {

    }

/* ----------- iPhone 16 ----------- */
/* ----------- works OK -------------*/

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 393px) 
  and (max-device-width: 852px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .CarouselSize {
      height: 166px;
      width: 386px;
    }
    .hue-rotate {
      height: 166px;
      width: 386px;
    }
    .carousel_white {
      margin-top: 76px;
    }
    .carousel_white_buy {
      width: 440px;
      margin-top: 50px;
    }
    .carousel_black {
      margin-top: 76px;
    }
    .frame-overlay-dark-grey {
      display: none;
    }
    .frame-overlay-light-grey {
      display: none;
    }
    .frame-overlay-dark-grey-buy {
      border: 3px solid hsl(0, 0%, 20%);
      width: 476px;
      height: 520px;
    }
}



/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1023px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .CarouselSize {
      height: 280px;
      width: 652px;
    }
    .hue-rotate {
      height: 280px;
      width: 652px;
    }
    .carousel_white {
      margin-top: 76px;
    }
    .carousel_white_buy {
      width: 690px;
      margin-top: 50px;
    }
    .carousel_black {
      margin-top: 76px;
    }
    .frame-overlay-dark-grey {
      display: none;
    }
    .frame-overlay-light-grey {
      display: none;
    }
    .frame-overlay-dark-grey-buy {
      border: 3px solid hsl(0, 0%, 20%);
      width: 690px;
      height: 752px;
    }
}

/* ----------- iPad 3, 4 and Pro 9.7" -----------*/

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1199px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .CarouselSize {
      height: 394px;
      width: 918px;
    }
    .hue-rotate {
      height: 395px;
      width: 918px;
    }
    .carousel_white {
      margin-top: 76px;
    }
    .carousel_white_buy {
      width: 931px;
      margin-top: 50px;
    }
    .carousel_black {
      margin-top: 76px;
    }
    .frame-overlay-dark-grey {
      display: none;
    }
    .frame-overlay-light-grey {
      display: none;
    }
    .frame-overlay-dark-grey-buy {
      border: 3px solid hsl(0, 0%, 20%);
      width: 931px;
      height: 1018px;
    }
}

/* ------------------ iPad 10 ------------------ */
@media only screen 
  and (min-device-width: 810px) 
  and (max-device-width: 1080px) 
  and (-webkit-min-device-pixel-ratio: 2) {

  }

/* ------------------ iPad Pro 10 ------------------ */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px) 
  and (-webkit-min-device-pixel-ratio: 2) {

  }

/* ------------------ iPad Pro 11 ------------------ */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1194px) 
  and (-webkit-min-device-pixel-ratio: 2) {

  }

/* ------------------ iPad Pro 12 ------------------ */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 2) {

  }

/* ------------------ iPad Air ------------------ */
  @media only screen
  and (min-width: 820px)
  and (max-width: 1180px) 
  and (-webkit-min-device-pixel-ratio: 2) {

  }

/*==============================================================================================================================*/
/*---------------------------------------------------- MEDIA QUERIES end -------------------------------------------------------*/
/*==============================================================================================================================*/

/* ------------------ LAPTOPS ------------------ */

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .CarouselSize {
      height: 220px;
      width: 513px;
    }
    .hue-rotate {
      height: 220px;
      width: 513px;
    }
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    .CarouselSize {
      height: 236px;
      width: 550px;
    }
    .hue-rotate {
      height: 236px;
      width: 550px;
    }
}