* {
  box-sizing: border-box;
}

.body_black {
  text-align: center;
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
}

.body_white {
  text-align: center;
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}

.body_white_buy {
  text-align: center;
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
}

.hue_rotate {
  height: 236px;
}

.carousel_black {
  background-color: black;
  margin-top: 128px;
  max-height: 100vh;
  max-width: 100vw;
}

.carousel_white {
  background-color: white;
  margin-top: 128px;
  max-height: 100vh;
  max-width: 100vw;
}

/* ================================================= carousel white buy START ================================================== */
.carousel_white_buy {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 760px;
  height: 840px;
  transform: scale(0.6);
  margin-top: 80px;
  transform-origin: top center;
}

/* ================================================= carousel white buy END ==================================================== */

/* ================================================= like page content START =================================================== */

.orders_list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 760px;
  margin-top: 80px;
  transform-origin: top center;
  font-size: 12px;
  text-align: left;
}

.terms_and_conditions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 760px;
  margin-top: 80px;
  transform-origin: top center;
  font-size: 12px;
  text-align: left;
}

.sizes_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.size_button_container {
  background-color: white;
  border: 2px solid black;
  width: 100%;
  margin: 5px;
  text-align: center;
  font-weight: normal;
}

.size_button {
  width: 100%;
  height: 100%;
  padding: 10px;
  text-align: center;
  font-weight: normal;
  font-size: 24px;
}

.buy_button_container {
  background-color: black;
  width: 100%;
  margin: 10px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 30px;
}

.buy_button {
  background-color: black;
  width: 100%;
  height: 100%;
  padding: 10px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 30px;
}

/* ================================================= like page content END ===================================================== */

/* ============================================================================================================================= */
/* ================================================= user input FORM element START ============================================= */
/* ============================================================================================================================= */

.sizes_container_form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 15px;
}

/* ================ remove default form and input tags styling ================ */

form, input {
  all: unset; /* Resets all default styles */
}

form {
  display: block;
  margin-top: 10px;
}

input {
  display: inline-block;
  background-color: white;
  width: 100%;
  text-align: center;
  font-weight: normal;
  font-size: 24px;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #888888;
}

/* ================ remove default form and input tags styling ================ */

.user_input_field {
  background-color: white;
  border: 2px solid black;
  width: 100%;
  margin: 5px;
  padding: 10px;
  text-align: center;
  font-weight: normal;
  font-size: 24px;
}

/* ================================================= Checkbox Styling ========================================================== */

.checkbox_container {
  display: flex;
  align-items: center; /* Keeps checkbox and label on the same line */
  justify-content: center; /* Aligns checkbox and label to the left */
  gap: 20px;
  /* width: 100%;
  border: 2px solid black; */
  margin: 5px;
  padding: 10px;
  flex-direction: row; /* Keeps checkbox and label in the same row */
  flex-wrap: wrap; /* Allows error message to be below */
}

.checkbox_container input[type="checkbox"] {
  all: unset;
  width: 20px;
  height: 20px;
  border: 2px solid black;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox_container input[type="checkbox"]::before {
  content: "";
  position: absolute; /* Ensures it appears inside the checkbox */
  width: 12px;
  height: 12px;
  background-color: black;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.checkbox_container input[type="checkbox"]:checked::before {
  opacity: 1;
}

.checkbox_container label {
  font-size: 24px;
  opacity: 0.65;
  cursor: pointer;
  text-align: center;
  margin-top: 0; /* Remove extra margin */
}

.hidden {
  display: none; /* Hides the label when error message is shown */
}

/* ================================================= Error Styling ============================================================= */

/* Ensure the error message appears below the label when checkbox is not selected */
.checkbox_container input[type="checkbox"]:not(:checked) + label + .error_message {
  display: block; /* Show error message below label when checkbox is unchecked */
}

.checkbox_container input[type="checkbox"]:checked + label + .error_message {
  display: none; /* Hide error message when checkbox is checked */
}

.error_message {
  color: red;
  font-size: 24px;
  margin-top: 5px; /* This margin ensures the error is below the label */
  width: 100%;
  display: none; /* Initially hidden, only appears when the checkbox is unchecked */
}

/* ============================================================================================================================= */
/* ================================================= user input FORM element END =============================================== */
/* ============================================================================================================================= */

/* ============================================================================================================================= */
/* ============================================= social media join us buttons START ============================================ */
/* ============================================================================================================================= */

.social_media_container {
  width: 100%;
  margin-bottom: 80px;
  text-align: center;
}

.social_media_text {
  margin-bottom: 10px;
  font-size: 24px;
  color:#383838;
}

.social_buttons {
  display: flex;
  justify-content: space-between;
}

.social_button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  color: white;
  transition: all 0.2s ease;
}

.social_button:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.instagram_button {
  background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
}

.twitter_button {
  background-color: #000000;
}

.discord_button {
  background-color: #5865f2;
}

/* ============================================================================================================================= */
/* ============================================= social media join us buttons END ============================================== */
/* ============================================================================================================================= */

/* ==================================================================================================== */
/* ========================================= NAVIGATION START ========================================= */
/* ==================================================================================================== */

button {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 0%);
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  height: 38px;
  color: hsl(0, 0%, 100%);
  font-size: 15px;
  font-weight: 600;
  font-family: 'Helvetica Now', 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  overflow: visible;
  z-index: 10; /* Ensuring it's on top */
}

button::after {
  content: '';
  position: absolute;
  bottom: -6px; /* Positions the line just below the button */
  left: 0;
  width: 100%;
  height: 6px;
  background-color: red;
  transform-origin: center;
  transform: scaleX(0); /* Initially hidden */
  transition: transform 0.11s ease-in-out;
}

button:hover {
  color: hsl(0, 100%, 100%);  /* Lightens text color */
  /* background-color: gray; */
}

button:hover::after {
  transform: scaleX(1); /* Expands the red line on hover */
}

button:active {
  background-color: hsl(0, 100%, 50%);
  color: hsl(0, 0%, 100%);
  box-shadow: none; /* Remove shadow on click */
}

.navigation-wrapper {
  padding-bottom: 0px;
}

.navigation_position {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  background-color: hsl(0,0%,0%);
  position: relative;
}

.nav_links {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  /* font-size: 15px; */
  font-weight: 600;
}

.nav_links_li {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0,0%,0%);
  height: 38px;
  position: relative;
}

/* ==================================================================================================== */
/* ========================================== NAVIGATION END ========================================== */
/* ==================================================================================================== */

/* FRAME around the image = START */

.carousel-container {
  position: relative;
  margin-bottom: 80px;
}

.frame-overlay-dark-grey {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 766px;
  height: 846px;
  border: 3px solid hsl(0, 0%, 20%);
  pointer-events: none;
  z-index: 10;
  transform: translate(-50%, -50%);
}

.frame_overlay_dark_grey_buy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 760px;
  height: 840px;
  border: 3px solid hsl(0, 0%, 20%);
  z-index: 5;
}

.frame-overlay-light-grey {
  position: absolute;
  top: 50%; 
  left: 50%;
  width: 670px;
  height: 740px;
  border: 3px solid hsl(0, 0%, 80%);
  pointer-events: none;
  z-index: 1;
  transform: translate(-50%, -50%);
}

/* FRAME around the image = END */

/* SINGLE IMAGE display = START */

.single_image_display_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 760px;
  height: 840px;
  z-index: 0;
}

.single_image_display {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.single_image_display img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* SINGLE IMAGE display = END */

/* overlap boxes START */

.overlap-container {
  display: flex;
  position: absolute;
  align-items: stretch;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  pointer-events: none; 
}

.box-white-left {
  flex: 1;
  background-color: hsla(0,0%,100%,1);
  height: 100%;
  pointer-events: none;
}

.box-black-left {
  flex: 1;
  background-color: hsla(0,0%,0%,1);
  height: 100%;
  pointer-events: none;
}

.box-transparent-middle {
  background-color: hsla(0,0%,0%,0);
  width: 760px;
  height: 100%;
  margin: 0 auto;
}

.box-white-right {
  flex: 1;
  background-color: hsla(0,0%,100%,1);
  height: 100%;
  pointer-events: none;
}

.box-black-right {
  flex: 1;
  background-color: hsla(0,0%,0%,1);
  height: 100%;
  pointer-events: none;
}

/* overlap boxes END */

h1 {
  margin-top: 40px;
  margin-bottom: 40px;
}

a {
  text-decoration: none;
}

li {
  text-decoration: none;
}

/*==========================================================================================================================*/
/*==========================================================================================================================*/
/*------------------------------------------------- MEDIA QUERIES start ----------------------------------------------------*/
/*==========================================================================================================================*/
/*==========================================================================================================================*/

/* apple iPhones buy page is OK other pages the drawing is smaller than screen by a lot...*/

/* ipads are not OK ??? */

/* TEST .CarouselSize */

/* anything under 320px width */
@media only screen 
  and (min-device-width: 280px)
  and (max-device-width: 319px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .CarouselSize {
    width: 278px;
    height: 120px;
  }
  .hue_rotate {
    width: 278px;
    height: 120px;
  }
  button {
    padding-left: 5px;
    padding-right: 5px;
  }
  button:hover {
    color: hsl(0, 100%, 100%);
    border-bottom: solid, 4px, hsla(0,0%,0%,0);
    box-shadow: 0 4px 0 0 hsla(0,0%,0%,0);
  }
  .navigation-wrapper {
    padding-bottom: 0px;
  }
  .nav_links {
    width: 100%;
    /* font-size: 15px; */
    font-weight: 500;
  }
  .carousel_white {
    margin-top: 56px;
  }
  /* ================================================= carousel white buy ================================================= */
  .carousel_white_buy {
    width: 340px;
    height: 370px;
    margin-top: 50px;
  }
  /* ================================================= carousel white buy ================================================= */
  .carousel_black {
    margin-top: 56px;
  }
  .frame-overlay-dark-grey {
    display: none;
  }
  .frame-overlay-light-grey {
    display: none;
  }
  .frame_overlay_dark_grey_buy {
    border: 3px solid hsl(0, 0%, 20%);
    width: 340px;
    height: 370px;
  }
  .single_image_display_container {
    width: 340px;
    height: 370px;
  }
  .terms_and_conditions {
    width: 100vw;
    padding: 0 10px;
    box-sizing: border-box;
  }
}

/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px)  {
  .CarouselSize {
    width: 278px;
    height: 120px;
  }
  .hue_rotate {
    width: 278px;
    height: 120px;
  }
  button {
    padding-left: 5px;
    padding-right: 5px;
  }
  button:hover {
    color: hsl(0, 100%, 100%);
    border-bottom: solid, 4px, hsla(0,0%,0%,0);
    box-shadow: 0 4px 0 0 hsla(0,0%,0%,0);
  }
  .navigation-wrapper {
    padding-bottom: 0px;
  }
  .nav_links {
    width: 100%;
    /* font-size: 15px; */
    font-weight: 500;
  }
  .carousel_white {
    margin-top: 56px;
  }
  /* ================================================= carousel white buy ================================================= */
  .carousel_white_buy {
    width: 340px;
    height: 370px;
    margin-top: 50px;
  }
  /* ================================================= carousel white buy ================================================= */
  .carousel_black {
    margin-top: 56px;
  }
  .frame-overlay-dark-grey {
    display: none;
  }
  .frame-overlay-light-grey {
    display: none;
  }
  .frame_overlay_dark_grey_buy {
    border: 3px solid hsl(0, 0%, 20%);
    width: 340px;
    height: 370px;
  }
  .single_image_display_container {
    width: 340px;
    height: 370px;
  }
  .terms_and_conditions {
    width: 100vw;
    padding: 0 10px;
    box-sizing: border-box;
  }
}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:481px)  {
  .CarouselSize {
    width: 342px;
    height: 148px;
  }
  .hue_rotate {
    width: 342px;
    height: 148px;
  }
  button {
    padding-left: 5px;
    padding-right: 5px;
  }
  button:hover {
    color: hsl(0, 100%, 100%);
    border-bottom: solid, 4px, hsla(0,0%,0%,0);
    box-shadow: 0 4px 0 0 hsla(0,0%,0%,0);
  }
  .navigation-wrapper {
    padding-bottom: 0px;
  }
  .nav_links {
    width: 100%;
    /* font-size: 15px; */
    font-weight: 500;
  }
  .carousel_white {
    margin-top: 56px;
  }
  /* ================================================= carousel white buy ================================================= */
  .carousel_white_buy {
    width: 412px;
    height: 450px;
    margin-top: 50px;
  }
  /* ================================================= carousel white buy ================================================= */
  .carousel_black {
    margin-top: 56px;
  }
  .frame-overlay-dark-grey {
    display: none;
  }
  .frame-overlay-light-grey {
    display: none;
  }
  .frame_overlay_dark_grey_buy {
    border: 3px solid hsl(0, 0%, 20%);
    width: 412px;
    height: 450px;
  }
  .single_image_display_container {
    width: 412px;
    height: 450px;
  }
  .terms_and_conditions {
    width: 100vw;
    padding: 0 10px;
    box-sizing: border-box;
  }
}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:641px)  {
  .CarouselSize {
    width: 574px;
    height: 248px;
  }
  .hue_rotate {
    width: 574px;
    height: 248px;
  }
  .carousel_white {
    margin-top: 76px;
  }
/* ================================================= carousel white buy ================================================= */
  .carousel_white_buy {
    width: 690px;
    height: 752px;
    margin-top: 50px;
  }
/* ================================================= carousel white buy ================================================= */
  .carousel_black {
    margin-top: 76px;
  }
  .frame-overlay-dark-grey {
    display: none;
  }
  .frame-overlay-light-grey {
    display: none;
  }
  .frame_overlay_dark_grey_buy {
    border: 3px solid hsl(0, 0%, 20%);
    width: 690px;
    height: 752px;
  }
  .single_image_display_container {
    width: 690px;
    height: 752px;
  }
  .terms_and_conditions {
    width: 100vw;
    padding: 0 10px;
    box-sizing: border-box;
  }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px)  {
  .CarouselSize {
    width: 565px;
    height: 244px;
  }
  .hue_rotate {
    width: 565px;
    height: 244px;
  }
  .carousel_white {
    margin-top: 76px;
  }
/* ================================================= carousel white buy ================================================= */
  .carousel_white_buy {
    width: 670px;
    height: 740px;
    margin-top: 50px;
  }
/* ================================================= carousel white buy ================================================= */
  .carousel_black {
    margin-top: 76px;
  }
  /* .frame-overlay-dark-grey {
    display: none;
  }
  .frame-overlay-light-grey {
    display: none;
  } */
  .frame_overlay_dark_grey_buy {
    border: 3px solid hsl(0, 0%, 20%);
    width: 670px;
    height: 740px;
  }
  .single_image_display_container {
    width: 670px;
    height: 740px;
  }
  .terms_and_conditions {
    width: 100vw;
    padding: 0 10px;
    box-sizing: border-box;
  }
}

/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {
  .CarouselSize {
    width: 565px;
    height: 244px;
  }
  .hue_rotate {
    width: 565px;
    height: 244px;
  }
  .carousel_white {
    margin-top: 76px;
  }
/* ================================================= carousel white buy ================================================= */  
  .carousel_white_buy {
    width: 670px;
    height: 740px;
    margin-top: 50px;
  }
/* ================================================= carousel white buy ================================================= */  
  .carousel_black {
    margin-top: 76px;
  }
  /* .frame-overlay-dark-grey {
    display: none;
  }
  .frame-overlay-light-grey {
    display: none;
  } */
  .frame_overlay_dark_grey_buy {
    border: 3px solid hsl(0, 0%, 20%);
    width: 670px;
    height: 740px;
  }
  .single_image_display_container {
    width: 670px;
    height: 740px;
  }
}

/* hi-res laptops and desktops */
@media (min-width:1281px) {
  .CarouselSize {
    width: 565px;
    height: 244px;
  }
  .hue_rotate {
    width: 565px;
    height: 244px;
  }
  .carousel_white {
    margin-top: 76px;
  }
/* ================================================= carousel white buy ================================================= */  
  .carousel_white_buy {
    width: 670px;
    height: 740px;
    margin-top: 50px;
  }
/* ================================================= carousel white buy ================================================= */  
  .carousel_black {
    margin-top: 76px;
  }
  /* .frame-overlay-dark-grey {
    display: none;
  }
  .frame-overlay-light-grey {
    display: none;
  } */
  .frame_overlay_dark_grey_buy {
    border: 3px solid hsl(0, 0%, 20%);
    width: 670px;
    height: 740px;
  }
  .single_image_display_container {
    width: 670px;
    height: 740px;
  }
}

/* ------------------ LAPTOPS ------------------ */

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
  .CarouselSize {
    height: 220px;
    width: 513px;
  }
  .hue_rotate {
    height: 220px;
    width: 513px;
  }
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
  .CarouselSize {
    height: 236px;
    width: 550px;
  }
  .hue_rotate {
    height: 236px;
    width: 550px;
  }
}


/*==============================================================================================================================*/
/*---------------------------------------------------- MEDIA QUERIES end -------------------------------------------------------*/
/*==============================================================================================================================*/


