.terms_and_conditions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 760px;
    margin-top: 80px;
    transform-origin: top center;
    font-size: 12px;
    text-align: left;
  }
  /*------------------------------------------------- MEDIA QUERIES start ----------------------------------------------------*/

  /*------------------------------------------------- MEDIA QUERIES start ----------------------------------------------------*/
/*==========================================================================================================================*/
/*==========================================================================================================================*/

/* apple iPhones buy page is OK other pages the drawing is smaller than screen by a lot...*/

/* ipads are not OK */

/* TEST .CarouselSize */


/* anything under 320px width */
@media only screen 
and (min-device-width: 280px)
and (max-device-width: 319px)
and (-webkit-min-device-pixel-ratio: 2) {
.terms_and_conditions {
  width: 100vw;
  padding: 0 10px;
  box-sizing: border-box;
}
}